Keras==2.2.4
numpy==1.13.3
opencv-python==3.2.0.8
h5py==2.9.0
tensorflow==2.7.2
pytesseract==0.2.7
colormath==3.0.0
PyQt5==5.12.3
qdarkstyle==2.7
screeninfo==0.3.1
psd-tools3==1.8.2
imagesize==1.1.0
google-cloud-vision==0.37.0
asn1crypto==0.24.0
cryptography==2.1.4
enum34==1.1.6
idna==2.6
ipaddress==1.0.17
keyring==10.6.0
keyrings.alt==3.0
numpy==1.13.3
pip==9.0.1
pycrypto==2.6.1
pyxdg==0.25
SecretStorage==2.3.1
setuptools==39.0.1
six==1.11.0
wheel==0.30.0
skimage==0.12.3
scikit-image==0.15.0
